<ion-header>
    <ion-toolbar>
        <ion-title>
            HEAVY VEGAN
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="center" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <img src="../../assets/img/logo.png" width="20%" alt="">
                <!-- <ion-img [src]="item.src"></ion-img> -->

                <ion-button [routerLink]="['/register']" expand="block" color="success">Registrar</ion-button>
                <ion-button color="light" [routerLink]="['/login']" expand="block">Iniciar sesión</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>