<ion-header>
    <ion-toolbar>
        <ion-title>
            <img src="../../assets/SVG/Recurso 3.svg" width="10%" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-grid class="center">
        <ion-row>
            <ion-col align-self-center>
                <!-- <ion-img [src]="item.src"></ion-img> -->
                <img src="../../assets/SVG/Recurso 5.svg" width="10%" alt="" class="imga">
                <br>
                <br>
                <ion-button color="light" [routerLink]="['/login']" expand="block">Iniciar sesión</ion-button>
                <ion-button [routerLink]="['/register']" expand="block" color="danger">Registrar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>